.background {
    background-image: url(./images/homepagefirepit.png);
    height: 100vh;
    background-repeat: no-repeat;
}

footer {
    height: 2.5rem;
    display:flex;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

footer a {
    color: #27374D;
    font-size: 1rem;
    font-family: 'raleway';
    margin-left: 5rem;
    text-align: center;
    margin-top: 2rem;
}